<div>
  <header>
    <h1>Sistema Alunos Proway</h1>
  </header>
  
  <main>

    <div class="cards">
      <app-estudante [estudante]="listaEstudantes[0]"></app-estudante>
      <app-estudante [estudante]="listaEstudantes[1]"></app-estudante>
      <app-estudante [estudante]="listaEstudantes[2]"></app-estudante>
    </div>

    <div class="lista">
      <app-estudante-lista [lista]="listaEstudantes"></app-estudante-lista>
    </div>
    
  </main>
  
  <footer>
    - Desenvolvido por Superdev &copy; -
  </footer>
</div>