<div>
  <header>
    <h1>Sistema Alunos Proway</h1>
  </header>
  
  <main>

    <div class="botoes">
      <button (click)="alterarExibicao()">
        Mostrar {{ exibicao == 'cards' ? 'Lista' : 'Cards' }}
      </button>
    </div>

    <div class="botoes">
      <button (click)="exibirAprovados()">Aprovados</button>
      <button (click)="exibirReprovados()">Reprovados</button>
      <button (click)="exibirTodos()">Todos</button>
    </div>


    <div class="cards" *ngIf="exibicao == 'cards'">
      <app-estudante
        *ngFor="let elemento of listaEstudantes"
        [estudante]="elemento">
      </app-estudante>
    </div>

    <div class="lista" *ngIf="exibicao == 'lista'">
      <app-estudante-lista 
        (excluir)="onExcluir($event)"
        [lista]="listaEstudantes">
      </app-estudante-lista>
    </div>
    
  </main>
  
  <footer>
    - Desenvolvido por Superdev &copy; -
  </footer>
</div>