header, footer{
    background-color: #101074;
    color: #FFF;
    text-align: center;
    padding: 10px;
}

div{
    display: flex;
    flex-direction: column;
}

main .cards{
    min-height: 450px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
