<section>
    <img src="{{estudante.imagem}}" alt="">

    <h2>{{ estudante.nome }}</h2>
    
    <p>
        <strong>Curso: </strong> {{ estudante.cursos[2] }}
    </p>
    <p>
        <strong>Matrícula: </strong> {{ estudante.matricula }}
    </p>
    <p>
        <strong>E-mail: </strong> {{ estudante.email }}
    </p>

    <div ngClass="{{ estudante.status ? 'aprovado' : 'reprovado' }}">
        <p>Estudante {{ estudante.status ? 'Aprovado' : 'Reprovado' }}</p>
    </div>

    <p>
        <span>
            {{ estudante.escola.nome }} - {{ estudante.escola.cidade }}
        </span>
    </p>
</section>