section{
    width: 200px;
    padding: 8px;
    margin: 0 4px;
    border: solid 1px silver;
    color: #333;
}

section img{
    width: 100%;
}

section h2{
    font-size: 16px;
    text-align: center;
}

section p{
    font-size: 12px;
}

.aprovado{
    margin: 8px 0;
    padding: 8px;
    border-radius: 4px;
    color: aliceblue;
    background-color: #186718;
}

.reprovado{
    margin: 8px 0;
    padding: 8px;
    border-radius: 4px;
    color: aliceblue;
    background-color: #910f0f;
}