table, tr, th, td {
    border-collapse: collapse;
    padding: 8px;
}

table {
    margin: 16px 0;
}

.lista {
    display: flex;
    justify-content: center;
}

thead tr {
    background-color: darkorange;
    color: #FFF;
}

tbody tr:nth-child(even){
    background-color: #e2e0e0;
}

tbody tr:hover {
    background-color: #101074;
    color: #FFF;
    cursor: pointer;
}

button{
    border: none;
    padding: 8px;
    margin: 0 4px;
    color: #FFF;
    cursor: pointer;
}

button.editar{
    background-color: #389e38;
}

button.excluir{
    background-color: #c33333;
}

.form{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}