table, tr, th, td {
    border-collapse: collapse;
    padding: 8px;
}

table {
    margin: 16px 0;
}

.lista {
    display: flex;
    justify-content: center;
}

thead tr {
    background-color: darkorange;
    color: #FFF;
}

tbody tr:nth-child(even){
    background-color: #e2e0e0;
}

tbody tr:hover {
    background-color: #101074;
    color: #FFF;
    cursor: pointer;
}