<div class="lista">
    <table>
        <thead>
            <tr>
                <th>Matrícula</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Curso</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let estudante of lista">
                <td>{{ estudante.matricula }}</td>
                <td>{{ estudante.nome }}</td>
                <td>{{ estudante.email }}</td>
                <td>{{ estudante.cursos[0] }}</td>
                <td>{{ estudante.status ? 'Aprovado' : 'Reprovado' }}</td>
            </tr>
        </tbody>
    </table>
</div>